# Airbnb NYC Real Estate Analysis - ETL Pipeline

In [3]:
pip install pyspark findspark

Requirement already satisfied: pyspark in c:\users\rokad\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: findspark in c:\users\rokad\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: py4j==0.10.9.9 in c:\users\rokad\anaconda3\lib\site-packages (from pyspark) (0.10.9.9)
Note: you may need to restart the kernel to use updated packages.

# 1️⃣ Environment Setup (Spark + Hadoop Configurations for Windows)

In [1]:
import os
import findspark

# Set Hadoop path first
os.environ['HADOOP_HOME'] = r'C:\Program Files\hadoop\hadoop-3.2.2'
os.environ['PATH'] += os.pathsep + r'C:\Program Files\hadoop\hadoop-3.2.2\bin'

# Initialize Spark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("AirbnbETL") \
    .config("spark.driver.host", "127.0.0.1") \
    .config("spark.driver.bindAddress", "127.0.0.1") \
    .getOrCreate()

print("✅ SparkSession started successfully!")

✅ SparkSession started successfully!

# 2️⃣ Load Raw Airbnb CSV Data

In [2]:
df = spark.read.csv(r'D:\Darshana\Projects\Real_Estate_Market_Data\data\processed\airbnb_cleaned.csv', header=True, inferSchema=True)
df.show(5)

+------------------+--------------------+---------+------------------+-------------------+------------------+-----------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+----------+------+--------+----+-------------+
|                id|                name|  host_id|         host_name|neighbourhood_group|     neighbourhood|         latitude|         longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|   license|rating|bedrooms|beds|        baths|
+------------------+--------------------+---------+------------------+-------------------+------------------+-----------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+----------+------+--------+----+-------------+
|           1312228|Rental unit in Br...|  7130382|            Walter|           Brooklyn|      Clinton Hill|         40.68371|         -73.96461|   Private room| 55.0|            30|                3| 2015-12-20|             0.03|                             1|               0|                    0|No License|  5.0 |       1|   1|Not specified|
|          45277537|Rental unit in Ne...| 51501835|          Jeniffer|          Manhattan|    Hell's Kitchen|         40.76661|          -73.9881|Entire home/apt|144.0|            30|                9| 2023-05-01|             0.24|                           139|             364|                    2|No License| 4.67 |       2|   1|            1|
|971353993633883038|Rental unit in Ne...|528871354|            Joshua|          Manhattan|           Chelsea|40.75076357257111|-73.99460514502687|Entire home/apt|187.0|             2|                6| 2023-12-18|             1.67|                             1|             343|                    6|    Exempt| 4.17 |       1|   2|            1|
|           3857863|Rental unit in Ne...| 19902271|John And Catherine|          Manhattan|Washington Heights|          40.8356|          -73.9425|   Private room|120.0|            30|              156| 2023-09-17|             1.38|                             2|             363|                   12|No License| 4.64 |       1|   1|            1|
|          40896611|Condo in New York...| 61391963|    Stay With Vibe|          Manhattan|       Murray Hill|         40.75112|          -73.9786|Entire home/apt| 85.0|            30|               11| 2023-12-03|             0.24|                           133|             335|                    3|No License| 4.91 |  Studio|   1|            1|
+------------------+--------------------+---------+------------------+-------------------+------------------+-----------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+----------+------+--------+----+-------------+
only showing top 5 rows

# 3️⃣ Data Cleaning and Transformation

In [3]:
# STEP 3: Apply transformations

from pyspark.sql.functions import col, regexp_replace, to_date

# Clean price column: remove $ and , and cast to double
df = df.withColumn(
    'price',
    regexp_replace(col('price'), r'[\$,]', '').cast('double')
)

# Create price_per_night (optional but cleaner for later)
df = df.withColumn('price_per_night', col('price'))

# Convert last_review column to date
df = df.withColumn('date_scraped', to_date(col('last_review'), 'yyyy-MM-dd'))

# Drop rows where price or lat/lon are missing
df = df.na.drop(subset=['price_per_night', 'latitude', 'longitude'])

# Check result
df.show(5)

+------------------+--------------------+---------+------------------+-------------------+------------------+-----------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+----------+------+--------+----+-------------+---------------+------------+
|                id|                name|  host_id|         host_name|neighbourhood_group|     neighbourhood|         latitude|         longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|number_of_reviews_ltm|   license|rating|bedrooms|beds|        baths|price_per_night|date_scraped|
+------------------+--------------------+---------+------------------+-------------------+------------------+-----------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+----------+------+--------+----+-------------+---------------+------------+
|           1312228|Rental unit in Br...|  7130382|            Walter|           Brooklyn|      Clinton Hill|         40.68371|         -73.96461|   Private room| 55.0|            30|                3| 2015-12-20|             0.03|                             1|               0|                    0|No License|  5.0 |       1|   1|Not specified|           55.0|  2015-12-20|
|          45277537|Rental unit in Ne...| 51501835|          Jeniffer|          Manhattan|    Hell's Kitchen|         40.76661|          -73.9881|Entire home/apt|144.0|            30|                9| 2023-05-01|             0.24|                           139|             364|                    2|No License| 4.67 |       2|   1|            1|          144.0|  2023-05-01|
|971353993633883038|Rental unit in Ne...|528871354|            Joshua|          Manhattan|           Chelsea|40.75076357257111|-73.99460514502687|Entire home/apt|187.0|             2|                6| 2023-12-18|             1.67|                             1|             343|                    6|    Exempt| 4.17 |       1|   2|            1|          187.0|  2023-12-18|
|           3857863|Rental unit in Ne...| 19902271|John And Catherine|          Manhattan|Washington Heights|          40.8356|          -73.9425|   Private room|120.0|            30|              156| 2023-09-17|             1.38|                             2|             363|                   12|No License| 4.64 |       1|   1|            1|          120.0|  2023-09-17|
|          40896611|Condo in New York...| 61391963|    Stay With Vibe|          Manhattan|       Murray Hill|         40.75112|          -73.9786|Entire home/apt| 85.0|            30|               11| 2023-12-03|             0.24|                           133|             335|                    3|No License| 4.91 |  Studio|   1|            1|           85.0|  2023-12-03|
+------------------+--------------------+---------+------------------+-------------------+------------------+-----------------+------------------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+---------------------+----------+------+--------+----+-------------+---------------+------------+
only showing top 5 rows

# 4️⃣ Save Processed Data to Parquet Format (Optimized Storage)

In [4]:
# STEP 4: Save processed data to parquet (for dashboard consumption)

output_path = r"D:\Darshana\Projects\Real_Estate_Market_Data\data\processed\airbnb.parquet"

df.write.mode('overwrite').parquet(output_path)

print("✅ Airbnb ETL processing complete and saved to parquet.")

✅ Airbnb ETL processing complete and saved to parquet.